body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the slider is centered vertically */
  margin: 0; /* Remove default body margin */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-250px * 19)
    ); /* Adjust this based on the number of assets */
  }
}

.slider {
  height: 100px;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: calc(
    250px * 5
  ); /* Adjust this to show more slides at a time if needed */
}

.slider .slide-track {
  display: flex;
  gap: 10px;
  animation: scroll 60s linear infinite; /* Adjust the duration to control the speed */
  width: calc(
    250px * 38 + 10px * 37
  ); /* 19 original slides + 19 duplicated slides + gaps */
}

.slider .slide {
  height: 100px;
  width: 250px;
}
