body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the slider is centered vertically */
  margin: 0; /* Remove default body margin */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 100px;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: calc(
    250px * 7
  ); /* Ensure the slider width is exactly the width of one set of slides */
}

.slider .slide-track {
  display: flex;
  gap: 10px;
  animation: scroll 40s linear infinite;
  width: calc(250px * 14); /* 7 original slides + 7 duplicated slides */
}

.slider .slide {
  height: 100px;
  width: 250px;
}
